[Unit]
Description=oMPX Source 1
After=network.target

[Service]
User=ompx
Group=ompx
ExecStart=/opt/mpx-radio/source1.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
