[Unit]
Description=oMPX Liquidsoap Main Pipeline
After=network.target

[Service]
User=ompx
Group=ompx
ExecStart=/usr/bin/liquidsoap /opt/mpx-radio/ompx-processing.liq
Restart=on-failure
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
